.container_header {
  background-image: url("../../../assets/bgimg-second.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 15px;
}

.hero-content h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  animation: fadeInSlideUp 1s ease-out forwards;
}

.hero-content .highlight {
  color: var(--roxo-letra);
}

.line-left,
.line-right {
  width: 150px;
  height: 2px;
  background-color: white;
  border: none;
  animation: fadeInSlideLeft 2s ease-out forwards;
}

.line-left {
  margin-right: 10px;
}

.line-right {
  margin-left: 10px;
}

.arrow-down {
  position: absolute;
  bottom: 40px;
  right: 50px;
  transform: translateX(-50%);
  font-size: 1rem;
  color: white;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}

.container_exp {
  background-color: var(--fundo-main);
  margin-top: -2rem;
}

.container_exp h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5rem;
  font-size: 2rem;
  color: var(--branco);
}

.container_exp .highlight {
  color: var(--roxo-letra);
  margin-left: 0.5rem;
  font-size: 2rem;
}

.exp_one {
  background-color: var(--fundo-main);
  color: var(--branco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -2rem;
}

#line-left,
#line-right {
  width: 28%;
}

.content_experiencia {
  background-color: var(--fundo-main);
  display: flex;
  flex-direction: column;
  padding: 0 20rem;
}

.experiencia_titulo {
  color: var(--branco);
}

.experiencia_imagem {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.experiencia_imagem img {
  width: 449px;
  height: 267px;
}

.experiencia_txt {
  color: var(--branco);
  margin-bottom: 8rem;
  max-width: 60%;
}

.exp_loading {
  background-color: var(--fundo-main);
  text-align: center;
  height: 60vh;
}

.exp_loading h1 {
  color: var(--branco);
}

.exp_loading .highlight {
  color: var(--roxo-letra);
}

.spinner-icon {
  font-size: 4rem;
  color: white;
  animation: spin 2s linear infinite;
  background-color: var(--fundo-main);
  margin-top: 5rem;
  margin-bottom: 2rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: var(--cinza-footer);
  color: var(--branco);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.dark-bg::before {
  background: rgba(0, 0, 0, 0.6);
}

.dark-bg .container_main {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--roxo-botao);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--fundo-main);
}

::placeholder {
  color: var(--roxo-letra);
  opacity: 1;
}

@media (max-width: 1290px) {
  .hero-content h1 {
    font-size: 60px;
  }

  .experiencia_imagem {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .experiencia_imagem img {
    width: 400px;
    height: 300px;
  }

  .experiencia_imagem iframe {
    width: 400px;
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .content_experiencia {
    padding: 0 10rem;
  }

  .experiencia_imagem img {
    width: 100%;
    height: auto;
  }

  .experiencia_imagem iframe {
    display: none;
  }
}

@media (max-width: 942px) {
  .hero-content h1 {
    font-size: 50px;
    display: flex;
    flex-direction: column;
  }

  #line-title {
    display: none;
  }
}

@media (max-width: 768px) {
  .exp_one {
    flex-direction: column;
    text-align: center;
  }

  #line-left,
  #line-right {
    display: none;
  }

  .content_experiencia {
    padding: 0 2rem;
  }

  .experiencia_imagem {
    flex-direction: column;
    gap: 1rem;
  }

  .experiencia_imagem img {
    align-items: center;
    text-align: center;
    width: 100%;
    height: auto;
  }

  .experiencia_txt {
    max-width: 100%;
    margin-bottom: 4rem;
  }

  .exp_loading {
    height: auto;
    padding: 1rem;
  }

  .spinner-icon {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
