.container_header {
    background-image: url('bgimg-second.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 15px;
}

.hero-content h1 {
    color: white;
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
}

.hero-content .highlight {
    color: var(--roxo-letra); 
}

.line-left, .line-right {
    width: 150px;
    height: 2px;
    background-color: white; 
    border: none;
}

.line-left {
    margin-right: 10px; 
}

.line-right {
    margin-left: 10px; 
}




.arrow-down {
    position: absolute;
    bottom: 100px; 
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: white;
    animation: bounce 2s infinite; 
}

@keyframes bounce {
    0%, 100% {
        transform: translate(-50%, 0);
    }
    50% {
        transform: translate(-50%, -10px); 
    }
}

.container_proj  {
    background-color: var(--fundo-main);
    margin-top: -2rem;
}

.container_proj h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 5rem;
    font-size: 2rem;
    color: var(--branco);
}

.highlight {
    color: var(--roxo-letra); /* Cor roxa */
    margin-left: 0.5rem;
}

.portfolio {
    display: flex;
    flex-direction: column;
    background-color: var(--fundo-main);
    color: var(--branco);
    padding: 5rem 15rem;
    align-items: center; /* Centraliza a linha de itens horizontalmente */
    margin-top: -2rem;
}

.port-line-one {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centraliza os itens na linha */
    gap: 4rem; /* Espaço entre os itens */
    margin-top: 5rem;
}

.port-item {
    display: flex;
    flex-direction: column;
    background-color: #131417;
    justify-content: space-between; /* Distribui o conteúdo verticalmente */
    border-radius: 1.5rem;
    padding: 0 1rem 1rem;
    width: 250px; /* Largura fixa para os itens */
    height: 400px; /* Altura fixa para os itens */
    margin: 0; /* Remove margens externas */
}

.port-img {
    background-color: #2E2E2E;
    border-radius: 1.5rem;
    padding: 0 1rem 0rem;
    text-align: center; /* Centraliza a imagem dentro do container */
}

.port-item img {
    width: 100%; /* Ajusta a largura da imagem para preencher o container */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 1rem;
    transform: translateY(-25%);
}

.port-item h2 {
    margin: 1rem 0;
}

.port-item p {
    text-wrap: wrap;
    flex-grow: 1;
}

.port-icon {
    margin: 0.5rem 0;
}

.port-icon i {
    font-size: 1.6rem;
    margin: 0 0.3rem;
}

.port-btn {
    background-color: var(--roxo-letra); /* Cor roxa */
    color: white; /* Texto branco */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0.5rem auto; /* Centraliza o botão */
    cursor: pointer;
    border-radius: 50px; /* Borda arredondada */
    transition: background-color 0.3s ease; /* Transição suave para a cor do fundo */
}

.port-btn:hover {
    background-color: var(--roxo-botao); /* Cor roxa mais escura no hover */
}

#icon-html {
    transition: all 0.2s;
}

#icon-css {
    transition: all 0.2s;
}

#icon-js {
    transition: all 0.2s;
}

#icon-html:hover {
    color: orangered;
}

#icon-css:hover {
    color: rgb(0, 132, 255);
}

#icon-js:hover {
    color: yellow;
}


.end-btn {
    background-color: var(--fundo-main);
    display: flex;
    justify-content: center;
    padding-bottom: 8rem;
}

.port-btn-end {
    background-color: var(--roxo-letra); /* Cor roxa */
    color: white; /* Texto branco */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s;
}

.port-btn-end:hover {
    background-color: var(--roxo-botao); /* Cor roxa */
    color: white; /* Texto branco */
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50px;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 3rem;
    background-color: var(--cinza-footer);
    color: var(--branco);
}

/* Botão e opções */
.button-container {
    position: fixed;
    bottom: 25px;
    left: 50%; /* Posiciona a esquerda do contêiner ao meio da tela */
    transform: translateX(-50%); /* Ajusta o alinhamento para centralizar */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2; /* Garante que o botão e as opções fiquem acima do fundo */
}

.plus-button {
    width: 50px;
    height: 50px;
    background-color: var(--branco);
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 25px;
}

.plus-button i {
    color: var(--preto);
    transition: transform 0.35s ease; /* Suaviza a transição de transformação */
}

.options {
    display: none; /* Inicialmente oculto */
    position: absolute;
    bottom: 100px;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.35s ease, transform 0.35s ease;
}

.show-options {
    opacity: 1; /* Torna visível ao mostrar */
    transform: translateY(0); /* Move para a posição original */
    display: flex; /* Mostra as opções */
}

.option {
    width: 250px;
    height: 50px;
    border: 2px solid var(--branco);
    border-radius: 100px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 1rem;
    transition: background-color 0.2s ease, border-color 0.35s ease; /* Transições para hover */
}

.option:hover {
    background-color: var(--roxo-botao); /* Cor de fundo roxa ao passar o mouse */
    border-color: var(--roxo-botao); /* Borda roxa ao passar o mouse */
}

.rotate-icon {
    transition: transform 0.35s ease; /* Suaviza a transição da rotação */
    transform: rotate(45deg); /* Rotaciona o ícone em 45 graus */
}


/*----------------*/
.flag-img {
    width: 35px;
    height: 25px;
    padding: 0.5rem;
}

#flag-br {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    background-color: rgb(249, 248, 248);
    transition: 0.3s all;
}

#flag-us {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    background-color: rgb(209, 209, 209);
}

#flag-br:hover {
    background-color: #009440;
    width: 40px;
    height: 30px;
}

#options-top:hover {
    background-color: transparent;
}

#options-top {
    color: var(--branco);
    font-weight: 900;
    font-size: 1.8rem;
    text-wrap: wrap;
    max-width: 200px;
    text-align: center;
    margin-bottom: -1.5rem;
    border: none;
}

#options-top:hover {
    background-color: transparent;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0); /* Inicia transparente */
    transition: background 0.5s ease;
    z-index: 0; /* Ajuste conforme necessário */
    pointer-events: none; /* Ignora eventos de clique */
}



.dark-bg::before {
    background: rgba(0, 0, 0, 0.6); /* Escurece o fundo ao adicionar a classe */
}

.dark-bg .container_main {
    opacity: 0.2; /* Escurece o texto e o subtexto */
    transition: opacity 0.5s ease; /* Suaviza a transição */
}

/* Estilo da scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--roxo-botao); /* Cor preta */
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: var(--fundo-main); /* Cor de fundo da track */
}

::placeholder {
    color: var(--roxo-letra);
    opacity: 1; /* Isso garante que a cor seja totalmente aplicada */
}

@media (max-width: 1290px) {
    .hero-content h1 {
        font-size: 60px;
    }
}

@media (max-width: 1200px) {

    .end-btn {
        margin-top: -0.5rem;
    }

    .portfolio {
        padding: 3rem 10rem; /* Reduz o padding em telas menores */
    }

    .port-line-one {
        gap: 2rem; /* Reduz o espaçamento entre os itens */
    }

    .port-item {
        width: 220px; /* Ajusta a largura dos itens */
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
    }

    .port-img {
        padding: 0; /* Remove o padding na imagem */
    }
}

@media (max-width: 942px) {
    .hero-content h1 {
        font-size: 50px;
        display: flex;
        flex-direction: column;
    }

    .line-right, .line-left {
        display: none;
    }

    .portfolio {
        padding: 2rem; /* Reduz o padding em telas menores */
    }

    .port-line-one {
        flex-direction: column; /* Alinha os itens verticalmente */
        gap: 5rem; /* Ajusta o espaçamento entre os itens */
    }

    .port-item {
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
    }

    .port-img img {
        height: 100px;
        width: 200px;
    }

    .port-icon i {
        font-size: 1.4rem; /* Reduz o tamanho dos ícones */
        margin: 0 0.2rem; /* Ajusta o espaçamento entre os ícones */
    }

    .port-btn {
        font-size: 14px; /* Reduz o tamanho da fonte do botão */
        padding: 8px 16px; /* Ajusta o padding do botão */
    }

    .footer {
        display: flex;
        flex-direction: column;
    }
}