.container_header {
  background-image: url("../../../assets/bgimg-second.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 15px;
}

.hero-content h1 {
  color: white;
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
  animation: fadeInSlideUp 1s ease-out forwards;
}

.hero-content .highlight {
  color: var(--roxo-letra);
}

.line-left,
.line-right {
  width: 150px;
  height: 2px;
  background-color: white;
  border: none;
  animation: fadeInSlideLeft 2s ease-out forwards;
}

.line-left {
  margin-right: 10px;
}

.line-right {
  margin-left: 10px;
}

.arrow-down {
  position: absolute;
  bottom: 40px;
  right: 50px;
  transform: translateX(-50%);
  font-size: 1rem;
  color: white;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem 5%;
  gap: 2rem;
  background-color: var(--fundo-main);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.about-left {
  position: relative;
  width: 350px;
  height: 350px;
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  margin-left: 15rem;
}

.profile-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 3px solid white;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}

.about-left::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 50%;
  background: conic-gradient(
    from 0deg,
    transparent 0deg,
    transparent 310deg,
    rgb(143, 31, 177) 310deg,
    rgb(143, 31, 177) 350deg,
    transparent 350deg,
    transparent 360deg
  );
  z-index: 1;
  animation: rotate-light 3s linear infinite;
}

@keyframes rotate-light {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.about-right {
  flex: 2;
  padding: 0 1rem;
  margin-right: 15rem;
}

.about-title {
  font-size: 36px;
  color: white;
  text-align: left;
}

.highlight {
  color: var(--roxo-letra);
}

.about-line {
  width: 50px;
  height: 3px;
  background-color: var(--branco);
  border: none;
  margin: 10px 0;
}

.about-text {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
  color: var(--branco);
  text-align: left;
}

.about-icons {
  display: flex;
  flex-direction: row;
  color: var(--branco);
  font-size: 1.7rem;
  gap: 0.8rem;
}

.about-icons i {
  transition: all 0.2s;
}

.about-icons i:hover {
  color: var(--roxo-letra);
}

.hard-container {
  background-color: var(--fundo-dois);
  margin-top: -2rem;
  padding: 0 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--branco);
  align-items: center;
}

.hard-title {
  text-wrap: wrap;
  max-width: 40%;
  margin-top: 5rem;
}

.hard-text {
  text-wrap: wrap;
  max-width: 60%;
  margin-bottom: 5rem;
}

.icon-shelf {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.icon-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.icon-row i {
  font-size: 80px;
  color: var(--branco);
  margin: 0 20px;
  transition: color 0.3s;
}

.icon-row i:hover {
  color: var(--roxo-letra);
}

hr {
  width: 100%;
  height: 3px;
  background-color: var(--branco);
  border: none;
  margin: 10px auto;
}

#icon-html {
  margin-left: 0%;
}

#icon-css {
  transform: translateX(40%);
}

#icon-js {
  transform: translateX(50%);
}

#icon-python {
  transform: translateX(-25%);
}

#icon-java {
  transform: translateX(25%);
}

.soft-container {
  display: flex;
  flex-direction: row;
  color: var(--branco);
  background-color: var(--fundo-main);
  padding: 1rem 15rem;
  align-items: center;
}

.soft-left {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 6rem;
}

.soft-item {
  margin-bottom: -2rem;
}

.soft-item p {
  transform: translate(15%, -260%);
  font-weight: 600;
}

.soft-item img {
  height: 40px;
  width: 250px;
}

.soft-txt {
  color: var(--branco);
  text-align: end;
  margin-left: 10rem;
  margin-top: -4rem;
}

.footer {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 3rem;
  background-color: var(--cinza-footer);
  color: var(--branco);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
  z-index: 2;
  pointer-events: none;
}

.dark-bg::before {
  background: rgba(0, 0, 0, 0.6);
}

.dark-bg .container_main {
  opacity: 0.2;
  transition: opacity 0.5s ease;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--roxo-botao);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--fundo-main);
}

::placeholder {
  color: var(--roxo-letra);
  opacity: 1;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 1290px) {
  .hero-content h1 {
    font-size: 60px;
  }
}

@media (max-width: 1350px) {
  .about-text {
    font-size: 16px;
    margin-right: -10rem;
  }
  .about-title {
    font-size: 32px;
  }
  .about-left {
    margin-left: 0;
  }
  .about-right {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .about-container {
    padding: 2rem 10rem;
    margin-top: -0.1rem;
    gap: 1.5rem;
  }
  .profile-pic {
    border-width: 2px;
  }
  .about-title {
    font-size: 32px;
  }
  .about-text {
    font-size: 16px;
    margin-right: 0;
  }
  .hard-container {
    padding: 0 5rem;
  }
  .hard-title {
    max-width: 60%;
  }
  .hard-text {
    max-width: 80%;
  }
  .icon-row i {
    font-size: 60px;
    margin: 0 15px;
  }
}

@media (max-width: 942px) {
  .hero-content h1 {
    font-size: 45px;
  }
  .line-left,
  .line-right {
    display: none;
  }
  .about-container {
    flex-direction: column;
    padding: 2rem 5%;
    gap: 2rem;
  }
  .about-left,
  .about-right {
    margin-bottom: 2rem;
    padding: 0;
  }
  .about-left {
    width: 250px;
    height: 250px;
  }
  .profile-pic {
    border-width: 2px;
  }
  .about-title {
    font-size: 22px;
    text-align: center;
  }
  .about-text {
    font-size: 14px;
    text-align: center;
    margin: 0 10rem 3rem;
  }
  .about-line {
    margin: 10px auto;
  }
  .about-icons {
    justify-content: center;
    margin-bottom: 3rem;
  }
}

@media (max-width: 720px) {
  .about-text {
    margin: 0 2rem 3rem;
  }
}

@media (max-width: 480px) {
  .about-container {
    padding: 1rem;
  }
  .about-left {
    width: 200px;
    height: 200px;
  }
  .profile-pic {
    border-width: 2px;
  }
  .about-title {
    font-size: 24px;
  }
  .about-text {
    font-size: 16px;
  }
  .hard-container {
    padding: 0 1rem;
  }
  .icon-row i {
    font-size: 40px;
    margin: 8px;
  }
  hr {
    width: 60%;
  }
}

@media (max-width: 1440px) {
  .soft-container {
    margin-top: -0.1rem;
  }
  .soft-txt {
    margin-top: 2rem;
  }
  .soft-txt p {
    margin-left: -5rem;
  }
}

@media (max-width: 1327px) {
  .soft-txt {
    margin-right: -10rem;
  }
  .soft-left {
    margin-left: -9rem;
  }
}

@media (max-width: 1024px) {
  .soft-container {
    flex-direction: column;
    padding: 1rem 5rem;
  }
  .soft-left {
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
  }
  .soft-coluna {
    align-items: center;
    margin-top: -3rem;
    margin-left: 65%;
  }
  .soft-txt {
    text-align: center;
    margin-top: 2rem;
  }
  .soft-txt h1 {
    font-size: 22px;
    margin-left: -320%;
  }
  .soft-txt p {
    display: none;
  }
  .hard-text {
    display: none;
  }
}

@media (max-width: 430px) {
  .soft-txt h1 {
    font-size: 20px;
    margin-right: 0.3rem;
  }
}
